C:\Users\c2in\OneDrive\Desktop\interview\Fact.class
C:\Users\c2in\OneDrive\Desktop\interview\Fib.class
C:\Users\c2in\OneDrive\Desktop\interview\reverse.class
C:\Users\c2in\OneDrive\Desktop\interview\Plaindrome.class